<!DOCTYPE html>
<html>
  <head>
    <title>Crumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico'%>
  </head>

  <body>
  <div id="sidebar">
    <ul>
      <li class="category"><%= link_to 'Crumblr', root_path %></li>
      <li><%= link_to 'Posts', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
   </ul>
   <div class="sign_up">
   <% if !user_signed_in? %>
    <p class="sign_in"><%= link_to 'User Login', new_user_session_path%></p>
    <p class="sign_in"><%= link_to 'Sign up', new_user_registration_path%></p>
   <% end %>
   </div>
  </div>
  <div id="main_content">
    <div id="header">
      <%if current_page?(root_path)%>
        <p>Post Feed</p>
      <% elsif current_page?(about_path)%>
        <p>mysite</p>
      <% else %>
        <%= link_to 'Back to Post Feed', root_path %>
      <% end %>
      <div>
      <%if user_signed_in?%>
        <button class="button"><%= link_to 'Make Post', new_post_path %></button>
        <button class="button"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
      <% end %>
      </div>
    </div>
    <%flash.each do |name,msg|%>
      <%= content_tag :div, msg, class:"alert"%>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
